<div class="example-container">
    <h2 class="register-header">Register</h2>
    
    
    <mat-form-field class="other-fields">
        <mat-label>Enter your name</mat-label>
        <input matInput name="name" placeholder="Name"   required>
        <!-- <mat-error *ngIf="name.invalid">{{ getErrorEmptyMessage() }}</mat-error> -->
      </mat-form-field>

      <mat-form-field class="other-fields">
        <mat-label>Enter your surname</mat-label>
        <input matInput name="surname" placeholder="Surname"  required>
        <!-- <mat-error *ngIf="surname.invalid">{{ getErrorEmptyMessage() }}</mat-error> -->
      </mat-form-field>

      <mat-form-field  >
        <input matInput name="phoneNumber" placeholder="Phone number" required>
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>

      <mat-form-field  >
        <input matInput name="address" placeholder="Address" required>
        <mat-icon matSuffix>import_contacts</mat-icon>
      </mat-form-field>
        
      <mat-form-field class="other-fields">
      <mat-label>Enter your email</mat-label>
      <input matInput name="email" placeholder="pat@example.com" required>
      <!-- <mat-error *ngIf="email.invalid">{{ getErrorMailMessage() }}</mat-error> -->
    </mat-form-field>

    <mat-form-field class="other-fields">
        <mat-label>Enter your password</mat-label>
        <input matInput name="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.toString()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="other-fields">
        <mat-label>Confirm your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.toString()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="other-fields">
        <mat-label>Role</mat-label>
        <mat-select>
          <mat-option value="admin">Admin</mat-option>
          <mat-option value="owner">Owner</mat-option>
          <mat-option value="guest">Guest</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="example-button-row">
        <button (click)="navigateToHome()" mat-raised-button color="primary">
          Register
          <mat-icon class="icon">how_to_reg</mat-icon> <!-- Dodajte ikonicu (u ovom primeru, ikonica "lock") -->
        </button>
      </div>
     
  </div>
  