<div style="text-align: center;">
    <h2 class="register-header">Registration of new Accommodation</h2>
    <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Accommodation Name">
      
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Location">
       
        </mat-form-field>
      </p>
      <div class="type-container">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Room</mat-radio-button>
          <mat-radio-button value="2">Apartment</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="guests-container">
        <p style="margin-right: 10px;">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Min guests">
           
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Max guests">
         
          </mat-form-field>
        </p>
      </div>
      
      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Cancellation Deadline">
          
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Description">
      
        </mat-form-field>
      </p>
      
      <p>Accommodations amenities : </p>
      <div class="options-container">
        <mat-chip-listbox aria-label="Accommodations amenities" multiple>
          <mat-chip-option>Free Wi-Fi</mat-chip-option>
          <mat-chip-option>Free Parking</mat-chip-option>
          <mat-chip-option>Air conditioner</mat-chip-option>
          <mat-chip-option>Kitchen</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <p>Reservation confirmation : </p>
    <div class="reservation-confirmation-container">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Manual</mat-radio-button>
        <mat-radio-button value="2">Auto</mat-radio-button>
      </mat-radio-group>
    </div>

    
    <div class="button-container">
      <div class="buttons">
      </div>
      <button mat-button style="background-color: rgb(163, 161, 161);margin-top: 1%;margin-right: 15px;">+ Add images</button>
        <button mat-button style="background-color: grey;margin-top: 1%;margin-right: 15px;" (click)="openDatePickerDialog()">+ Add price card</button>
        <button mat-button style="background-color: rgb(58, 57, 57);margin-top: 1%;margin-right: 15px;" (click)="openAvailabilityDialog()">+ Add availability</button>
      </div>
      <button mat-button style="background-color: #1e88e5; color: white;margin-top: 4%;">Register accommodation</button>
    </div>
  