<mat-toolbar>
  <div>
    <button [routerLink]="['editReservation']"  style="float: right" mat-raised-button color="">Edit reservation</button>
    <button [routerLink]="['createReservation']"  style="float: right" mat-raised-button color="">Create reservation</button>
    <button [routerLink]="['editAccommodation']"  style="float: right" mat-raised-button color="">Edit Accommodation</button>
    <button [routerLink]="['createAccommodation']"  style="float: right" mat-raised-button color="">Create Accommodation</button>
    <button [routerLink]="['users-view']"  style="float: right" mat-raised-button color="">View users</button>
    <button [routerLink]="['editAccount']"  style="float: right" mat-raised-button color="">Edit Account</button>
    <button [routerLink]="['register']" style="float: right" mat-raised-button color="">Register</button>
    <button [routerLink]="['login']" style="float: right" mat-raised-button color="">Log in</button>
    <button [routerLink]="['home']"  style="float: right" mat-raised-button color="">Home</button>
  </div>
</mat-toolbar>
