img {
  width: 100%;
  height: 100%;
  display: absolute; 
  filter: blur(0.5px); 
  margin: 0 auto; 

}

.image-container{
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin: 0 auto; /* Centrira image-container */
 
}


.overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: visible;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-style: italic; 
  z-index: 1;
  opacity: 1;
  margin-bottom: 10px;
  
}
