
.custom-card {
  background-color: #f0f0f0;
  margin: 10px;
  padding: 16px;
  flex: 1 0 calc(25% - 20px); 
  box-sizing: border-box;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img{
  border: 1px solid black;
  max-width: 100%;

}
b {
  color: #333;
  font-size: 1.2rem; 
  margin-bottom: 10px; 
}

p {
  color: #666; /* Change the color of regular text */
  margin-bottom: 10px; /* Add space below paragraphs */
}

button {
  background-color: #007bff; /* Blue color for the button */
  color: #fff; /* White text on the button */
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}