<div class="details-container">
    <h2>{{ accommodation.name }}</h2>
    <img src="{{ accommodation.image }}" alt="{{ accommodation.name }} Image">
    <p><strong>Description:</strong> {{ accommodation.description }}</p>
    <p><strong>Location:</strong> {{ accommodation.location }}</p>
    <p><strong>Guests:</strong> {{ accommodation.minGuests }} - {{ accommodation.maxGuests }}</p>
    <p><strong>Status:</strong> {{ accommodation.status }}</p>
    <button (click)="goBack()">Go Back</button>
  </div>