<div class="details-container">
  <div class="heading">
    <h2>{{ accommodation.name }}</h2>
    <img src="{{ accommodation.images }}" alt="{{ accommodation.name }} Image" style="margin-right:200px ;">
  </div>
    
    <div class="content">
      <p><strong>Description:</strong> {{ accommodation.description }}</p>
    <p><strong>Location:</strong> {{ accommodation.location }}</p>
    <p><strong>Guests:</strong> {{ accommodation.minGuests }} - {{ accommodation.maxGuests }}</p>
    <p><strong>Status:</strong> {{ accommodation.status }}</p>
    <p><strong>Price:</strong> {{accommodation.prices}}$</p>
    <!--<p><strong>Rating:</strong> {{accommodation.rating}}</p>-->
    <p><strong>Assets:</strong></p>
    <div class="options-container">
      <div class="custom-chip">Free Wi-Fi</div>
      <div class="custom-chip">Free Parking</div>
      <div class="custom-chip">Air conditioner</div>
      <div class="custom-chip">Kitchen</div>
  </div>
    <button (click)="goBack()" style="margin-top: 3%;margin-left: 80%;"><mat-icon>arrow_back</mat-icon></button>
    </div>
  </div>