<div style="text-align: center;">
<h2>Edit Account</h2>
<p>
    <mat-form-field appearance="outline">
      <input matInput placeholder="First Name">
      <mat-icon matSuffix>edit_note</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Last Name">
      <mat-icon matSuffix>edit_note</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Email (username)">
      <mat-icon matSuffix>edit_note</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field fxFlex="100%">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.toString()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  </p>
  <p>
    <mat-form-field fxFlex="100%">
        <mat-label>Password confirmation</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.toString()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Address">
      <mat-icon matSuffix>edit_note</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Phone number">
      <mat-icon matSuffix>edit_note</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Phone number">
      <mat-icon matSuffix>edit_note</mat-icon>
    </mat-form-field>
  </p>

<div class="button-container">
    <button mat-button style="background-color: #1e88e5; color: white; margin-right: 50px;">Save changes</button>
    <button mat-fab background-color="red" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  
</div>

<app-footer></app-footer>
